$topnav-background-color: #222;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        
        .mobile{
            display: none;
        }

        .nav-item{
            .dropdown-menu-right{
                a {
                    padding-left: 10px;
                }
            } 
        }

        .nav-item > a {
            color: #999;
            &:hover {
                color: #fff;
            }
        }

        @media (min-width: 992px){
            form > input{
                margin-left: 120px;
            }
        }

        @media (min-width: 500px){
            form > input{
                width: 300px;
            }
        }

        @media (max-width: 390px){
            .navbar-brand{
                display: none;
            }
            .mobile{
                display: inline-block;
            }
        }

        @media (max-width: 340px){
            form > input{
                width: 150px;
            }
        }
    }
    /*
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    */
}