$topnav-background-color: rgb(107, 204, 112);
$topnav-text-color: rgb(0, 0, 0);
$topnav-text-color-hover: rgb(43, 43, 43);
$navbar-brand: orange;

:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: $navbar-brand;
            font-weight: bold;
            border-radius: 100px;
            padding: 0 10px;
            background-color: greenyellow;
        }
        
        .mobile{
            display: none;
        }

        .nav-item{
            cursor: pointer;
            
            .dropdown-menu-right{
                a {
                    padding-left: 10px;
                }
            } 
            .settings{
                left: auto !important;
            }
        }

        .nav-item > a {
            color: $topnav-text-color;
            &:hover {
                color: $topnav-text-color-hover;
            }
        }
        
        .navbar-toggler{
            outline: none;
        }

        .upload{
            outline: none;
            
            &:hover{
                color: orange;
            }
        }

        @media (min-width: 992px){
            form > input{
                margin-left: 100px;
            }
        }

        @media (min-width: 500px){
            form > input{
                width: 300px;
            }
        }

        @media (max-width: 390px){
            .navbar-brand{
                display: none;
            }
            .mobile{
                display: inline-block;
            }
        }

        @media (max-width: 340px){
            form > input{
                width: 150px;
            }
        }
    }
    /*
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
    */
}