.user{
    border: none;
    outline: none;
    cursor: pointer;

    >div{
        margin: 0 auto;

        >div{
            overflow: hidden;
            width: fit-content;
            float: left;
            margin: 0 2%;

            img{
                border-radius: 50%;
                width: 100%;
                transition: all .2s;
                transform: scale(0.9);
                max-height: 20px;
                max-width: 20px;
            }
        }

        >p{
            display: block;
            margin-bottom: 0;
        }
    }

    &:hover{
        
        div > img{
            transform: scale(1);
        }

        p{
            color: orange;
        }
    }
}