.user{
    border: none;
    outline: none;
    cursor: pointer;

    >div{
        width: 100%;

        >div{
            max-width: 100px;
            margin-left: 30%;
            margin-right: 30%;
    
            >div{
                overflow: hidden;
                width: fit-content;
                float: left;
                margin: 0 2%;
    
                .userLogo{
                    border-radius: 50%;
                    width: 100%;
                    transition: all .2s;
                    transform: scale(0.9);
                    max-height: 20px;
                    max-width: 20px;
                }
            }
    
            >p{
                display: block;
                margin-bottom: 0;
            }
        }
    }

    &:hover{

        p{
            color: orange;
        }

        .userLogo{
            transform: scale(1);
        }
    }
}