/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~ng-snotify/styles/material";

@font-face{
    font-family: "custom-font";
    src: url("../assets/font/ABeeZee-Regular.ttf") format("opentype");
}

@media print {
    .breadcrumb {
        display: none !important;
    }
}

*{
    font-family: "custom-font";
}