<app-log-header></app-log-header>

<div class="main-container">
  <div class="row">
    <div class="mt-4 col-8 offset-2">
      <div class="card">
        <div class="card-header">Login Here</div>
        <div class="card-body">
          <form #loginForm=ngForm (ngSubmit)="onSubmit()">
    
            <div class="alert alert-danger" [hidden]="!error">
              {{error}}
            </div>
            <div class="form-group row">
              <label for="inputEmail3" class="col-md-2 col-form-label">Email</label>
              <div class="col-md-10">
                <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required>
              </div>
            </div>
    
            <div class="form-group row">
              <label for="inputPassword3" class="col-md-2 col-form-label">Password</label>
              <div class="col-md-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password"
                  required>
              </div>
            </div>
    
            <div class="form-group row">
              <div class="col-12 col-md-10 offset-md-2">
    
                <button type="submit" class="btn btn-primary mt-3 ml-3 mt-sm-0 ml-sm-0" [disabled]="!loginForm.valid">Sign in</button>
    
                <a routerLink="/signup" class="btn btn-info float-md-right mt-3 ml-3 ml-sm-0 mt-sm-0">Sign Up</a>
    
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-10 offset-2">
    
              </div>
            </div>

            <small class=float-right>
              <a routerLink="/password-reset">Reset Password</a>
            </small>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>