.textarea{
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    resize: none;
    border: none;

    &:hover, &:active, &:target{
        border: none;
    }
}

.channel{
    outline: none;
    
    .username{
        text-align: center;
    }

    >div{
        overflow: hidden;
        border-radius: 50%;

        img{
            width: 100%;
            transition: all .2s;
            transform: scale(1);
            border-radius: 50%;
        }
    }

    &:hover{
        >div{
            img{
                transform: scale(1.1);
            }
        }
        p{
            color: orange;
        }
    }
}

img{
    border-radius: 100px;
}

.votes{
    margin: 0 1px;
    padding: 0 4px;

    &:hover{
        color: orange;
    }
}