.textarea{
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    resize: none;
    border: none;

    &:hover, &:active, &:target{
        border: none;
    }
}
.img-own-parent{
  width: 75px;
  height: 75px;

  .imgLogo{
    width: 75px;
    height: 75px;
  }
}
.channel{
    outline: none;

    .username{
        text-align: center;
    }

    >div{
        overflow: hidden;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin: 0 auto;

        img{
            width: 100%;
            transition: all .2s;
            transform: scale(1);
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
    }

    &:hover{
        >div{
            img{
                transform: scale(1.1);
            }
        }
        p{
            color: orange;
        }
    }
}

img{
    border-radius: 100px;
}

.votes{
    margin: 0 1px;
    padding: 0 4px;

    &:hover{
        color: orange;
    }
}
