div{
    width: 100%;
    text-align: center;

    video{
        width: 100%;
        max-width: 1000px;    
    }
}

.share-buttons{
    a{
        margin: 0 10px;

        img{
            transform: rotate(0);
            transition: all .5s;
            width: 40px;
            
            &:hover{
                transform: rotate(360deg);
            }
        }
    }
}