<div *ngIf="users">
  <div *ngIf="areSomeUsers()" class="row justify-content-center">
    <div *ngFor="let user of users">
      <div class="users" routerLink="/channel/{{user.id}}">
        <div>
          <img class="img-thumbnail" src="{{ user.logo }}" alt="Logo Image">
        </div>
        <p>{{ user.username }}</p>
        <p class="seguidores" *ngIf="user.followers == 1; else moreFollowers">{{ user.followers }} seguidor</p>
        <ng-template #moreFollowers>
          <p class="seguidores">{{ user.followers }} seguidores</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>