.maxImg{
    max-width: 100px;
    max-height: 100px;
}

div.maxImg{
    margin: 0 auto;
}
.users{
    margin: 0 10%;
    outline: none;

    >div{
        overflow: hidden;
        border-radius: 50%;

        img{
            width: 100%;
            transition: all .2s;
            transform: scale(1);
            border-radius: 50%;
        }
    }

    p{
        text-align: center;
        margin: 0;
    }

    .seguidores{
        font-size: small;
    }

    &:hover{
        >div{
            img{
                transform: scale(1.1);
            }
        }
        p{
            color: orange;
        }
    }
}

.message{
    h3{
        text-align: center;
    }
}