.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}

.main-container {
    margin-top: 56px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

.img{
    max-width: 100%;
}
.imageDiv{
    margin-bottom: 10px;
    text-align: center;
}