.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}

$topnav-background-color: rgb(107, 204, 112);
$topnav-text-color: rgb(0, 0, 0);
$topnav-text-color-hover: rgb(43, 43, 43);
$navbar-brand: orange;

.main-container {
    margin-top: 56px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: $navbar-brand;
            font-weight: bold;
            border-radius: 100px;
            padding: 0 10px;
            background-color: greenyellow;
        }
        
        .mobile{
            display: none;
        }

        .nav-item > a {
            color: $topnav-text-color;
            &:hover {
                color: $topnav-text-color-hover;
            }
        }
        
        .navbar-toggler{
            outline: none;
        }

        @media (max-width: 390px){
            .navbar-brand{
                display: none;
            }
            .mobile{
                display: inline-block;
            }
        }
    }
}