<app-log-header></app-log-header>

<ng-snotify></ng-snotify>

<div class="main-container">
    <div class="row">
      <div class="mt-4 col-8 offset-2">
        <div class="card">
          <div class="card-header">Register Here</div>
          <div class="card-body">
            <form #signupForm=ngForm (ngSubmit)="onSubmit()">
              <div class="form-group row">
                <label for="inputName3" class="col-md-2 col-form-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="username" class="form-control" id="inputname3" placeholder="Name"
                    [(ngModel)]="form.username" required>
                  <div class="alert alert-danger" *ngIf="error.username">
                    {{ error.username }}
                  </div>
                </div>
              </div>
      
              <div class="form-group row">
                <label for="inputEmail3" class="col-md-2 col-form-label">Email</label>
                <div class="col-sm-10">
                  <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email"
                    [(ngModel)]="form.email" required>
                  <div class="alert alert-danger" *ngIf="error.email">
                    {{error.email}}
                  </div>
                </div>
              </div>
      
              <div class="form-group row">
                <label for="inputPasswordConfirmation3" class="col-md-2 col-form-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3"
                    placeholder="Confirm Password" [(ngModel)]="form.password" required>
                  <div class="alert alert-danger" *ngIf="error.password">
                    {{error.password}}
                  </div>
                </div>
              </div>
      
              <div class="form-group row">
                <label for="inputPassword3" class="col-md-2 col-form-label">Confirm Password</label>
                <div class="col-sm-10">
                  <input type="password" name="password_confirmation" class="form-control" id="inputPassword3"
                    placeholder="Password" [(ngModel)]="form.password_confirmation" required>
                </div>
              </div>
              
              <div class="form-group row">
                <label for="inputImage" class="col-md-2 col-form-label">Logo image</label>
                <div class="col-sm-10">
                  <input type="file" (change)="onImageSelected($event)" class="form-control" id="inputImage"
                    placeholder="Logo image" required>
                  <small>(Recomended size: 100x100px)</small>
                  <div class="alert alert-danger" *ngIf="error.logo">
                    {{ error.logo }}
                  </div>
                </div>
              </div>
      
              <div class="imageDiv">
                <img class="img" [src]="imageSrc || 'http://placehold.it/180'" alt="Your image" />
              </div>

              <div class="form-group row">
                <div class="col-sm-10 offset-2">
      
                  <button type="submit" class="btn btn-primary mt-3 ml-3 mt-sm-0 ml-sm-0" [disabled]="!signupForm.valid">Sign Up</button>
      
                  <a routerLink="/login" class="btn btn-info float-md-right mt-3 ml-3 ml-sm-0 mt-sm-0">Sign in</a>
      
                </div>
              </div>
      
            </form>
          </div>
        </div>
      </div>
    </div>
</div>