<ng-snotify></ng-snotify>

<div class="main-container">
  <div class="row">
    <div class="mt-4 col-8 offset-2">
      <div class="card">
        <div class="card-header">Tus datos</div>
        <div class="card-body" *ngIf="user">

          <form #videoForm=ngForm (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="logo" class="col-12 col-form-label">Logo</label>
              <div class="col-12">
                <input name="logo" type="file" (change)="onLogoSelected($event)" class="form-control" id="logo"
                  placeholder="Logo image" required>
                <small>(Tamaño recomendado: 100x100px)</small>

                <div class="alert alert-danger" *ngIf="error.logo">
                  {{ error.imageUrl }}
                </div>
              </div>
            </div>
            <div class="imageDiv" *ngIf="!logoSrc">
              <img class="img logo" src="{{ publicUrl }}{{ user.logo }}" alt="User Logo">
            </div>
            <div class="imageDiv" *ngIf="logoSrc">
              <img class="img logo" src="{{ logoSrc }}" alt="Your image" />
            </div>

            <div class="form-group row">
              <label for="banner" class="col-12 col-form-label">Banner de tu canal</label>
              <div class="col-12">
                <input name="banner" type="file" (change)="onBannerSelected($event)" class="form-control" id="banner"
                  placeholder="Logo image" required>
                <small>(Tamaño recomendado: 1200x40px)</small>
                <div class="alert alert-danger" *ngIf="error.banner">
                  {{ error.banner }}
                </div>
              </div>
            </div>

            <div class="imageDiv" *ngIf="!bannerSrc">
              <img class="img banner" src="{{ publicUrl }}{{ user.banner }}" alt="User Banner">
            </div>
            <div class="imageDiv" *ngIf="bannerSrc">
              <img class="img banner" src="{{ bannerSrc }}" alt="Your image" />
            </div>

            <div class="form-group row">
              <label for="title" class="col-12 col-form-label">Nombre de usuario</label>
              <div class="col-12">
                <input 
                  type="text"
                  name="title"
                  class="form-control"
                  id="username"
                  placeholder="Nombre de usuario"
                  [(ngModel)]="form.username"
                  required minlength="4"
                  maxlength="100"
                  value=""
                >
                <div class="alert alert-danger" *ngIf="error.username">
                  {{ error.username }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPasswordConfirmation3" class="col-12 col-form-label">Password</label>
              <div class="col-12">
                <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3"
                  placeholder="Confirm Password" [(ngModel)]="form.password" required>
                <div class="alert alert-danger" *ngIf="error.password">
                  {{error.password}}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword3" class="col-12 col-form-label">Confirm Password</label>
              <div class="col-12">
                <input type="password" name="password_confirmation" class="form-control" id="inputPassword3"
                  placeholder="Password" [(ngModel)]="form.password_confirmation" required>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary mt-3 ml-3 mt-sm-0 ml-sm-0">
                  Realizar cambios
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="card-body" *ngIf="!user">
          <app-loader></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>