.img{
    max-width: 100%;
}
.imageDiv{
    margin-bottom: 10px;
    text-align: center;
}
.img.logo{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

.img.banner{
    width: 100%;
    max-height: 400px;
}