<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <div>
            <a routerLink="{{ mainUrl }}/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-home"></i>&nbsp;
                <span>{{ 'Inicio' | translate }}</span>
            </a>
        </div>
        <div>
            <a routerLink="{{ mainUrl }}/tendencies" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="fa fa-fire"></i>&nbsp;
                <span>{{ 'Tendencies' | translate }}</span>
            </a>
        </div>
        <div *ngIf="ownUserService.isLogged()">
            <div *ngIf="suscriptions && suscriptions.length != 0">
                <div class="separator"></div>
                <div *ngFor="let suscription of suscriptions">
                    <a (click)="changeType(suscription.id, 'channel')" routerLink="{{ mainUrl }}/channel/{{ suscription.id }}" [routerLinkActive]="['router-link-active']" class="list-group-item">
                        <div class="divLogo"><img class="logo" src="{{suscription.logo}}" alt="userlogo"></div>&nbsp;
                        <span>{{ suscription.username }}</span>
                    </a> 
                </div>
            </div>
        </div>
        
        <div class="separator"></div>

        <div *ngFor="let category of categories" >
            <a (click)="changeType(category.id, 'category')" routerLink="{{ mainUrl }}/category/{{ category.id }}" [routerLinkActive]="['router-link-active']" class="list-group-item">
                <i class="{{ category.logo }}"></i>&nbsp;
                <span>{{ category.name }}</span>
            </a>    
        </div>
        
        <!--
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Suscriptions' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Canal 1' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Canal 2' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        -->

        <!-- Menu superior version movil -->
        <div class="header-fields">
            <div class="separator"></div>
            
            <div class="nested-menu" *ngIf="ownUserService.isLogged()">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; {{ username }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a routerLink="{{ mainUrl }}/account" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'My channel' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="{{ mainUrl }}/account" [routerLinkActive]="['router-link-active']" class="list-group-item">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <!--<a [routerLink]="['/home']" (click)="onLoggedout()">-->
                            <a routerLink="{{ mainUrl }}/home">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div *ngIf="!ownUserService.isLogged()">
                <a class="list-group-item">
                    <i class="fa fa-user"></i>&nbsp; Login<b class="caret"></b>
                </a>
            </div>

            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div>
</nav>
