<img class="img-thumbnail col-12" src="http://placehold.it/1200x400" alt="Banner Image">

<div class="row mt-3 mb-3 align-content-center">
  <div class="col-md-2 col-12">
    <img class="img-thumbnail" src="http://placehold.it/200x200" alt="Logo Image">
  </div>
  <div class="col-12 col-md-8 mt-1">
    <h1>UserName</h1>
    <h5>10 suscriptores</h5>
  </div>
  <div class="col-12 col-md-2">
    <button class="btn btn-suscribe">Suscribe</button>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 col-12">
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['videos']">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['lists']">Lists</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="col-12">
  <router-outlet></router-outlet>
</div>