.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}
.img{
    max-width: 100%;
}
.imageDiv{
    margin-bottom: 10px;
    text-align: center;
}