p{
    text-align: center;
}

.video{

    div{
        overflow: hidden;
        width: 100%;

        img{
            width: 100%;
            transition: all .2s;
            transform: scale(1);
        }
    }

    &:hover{
        
        div > img{
            transform: scale(1.1);
        }

        p{
            color: orange;
        }
    }
}